.menu-button {
  display: flex;
}
.menu-button__line {
  height: 3px;
  background-color: var(--main-text-color);
  position: relative;
}

.menu-button__line_position_top {
}
.menu-button__line_position_middle {
}
.menu-button__line_position_bottom {
}