@import url(./vendor/normalize.css);

@import url(./vendor/fonts.css);

.page {
  min-width: 320px;
  max-width: 1440px;
  min-height: 100vh;
  font-family: 'Inter', 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  transition: 1s;
  background-color: var(--main-bg-color);
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  --main-text-color: #151515;
  --second-text-color: #222;
  --main-bg-color: #f4f4f4;
}

.page_theme_dark {
  --main-text-color: #fff;
  --second-text-color: #e5e5e5;
  --main-bg-color: #333;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: flex-end;
  background: var(--main-bg-color);
  z-index: 3; 
  transition: 1s;
}

.header__menu {
  padding: 28px 0;
  display: flex;
  gap: 34px; 
  margin-right: 120px;
}

.header__link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29;
  color: var(--main-text-color);
  text-align: right;
  transition: .5s ease;
}

.header__link:hover {
  cursor: url('./images/cursor.svg'), pointer;
  opacity: .75;
}

.content {
  flex: 1;
  padding-top: 74px;
}

.about {
  max-width: calc(100% - 120px);
  margin-left: auto;
  display: grid;
  justify-content: space-between;
  grid-template: min-content min-content 1fr / minmax(min-content, 458px) minmax(min-content, 610px);
}

.about__container {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.about__title {
  padding: 80px 0 50px;
}

.section-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  color: var(--second-text-color);
  opacity: 0.7;
  margin: 0;
}

.about__button {
  text-decoration: none;
  background: #24b47e;
  border: none;
  border-radius: 4px;
  margin: 0;
  padding: 16px 10px;
  min-width: 160px;
  max-width: max-content;
  position: relative;
  overflow: hidden;
}

.about__button-text {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.29;
  letter-spacing: 1px;
  color: #fff;
  text-align: center;
  margin: 0;
  z-index: 2;
  position: relative;
}

.about__button:hover {
  cursor: url('./images/cursor.svg'), pointer;
} 

.about__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #319e75;
  z-index: 2;
  transition: .5s;
}

.about__button:hover::before {
  left: 0;
}


.about__image {
  background: url('./images/Placeholder.png');
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  min-height: 836px;
  grid-area: 1 / 2 / 4 / 3;
  position: relative;
}

.about__image::before {
  content: url('./images/Cannondale_Systemsix.png');
  display: inline-block;
  background-color: #f4f4f4;
  padding: 20px 50px;
  border-radius: 20px;
  box-shadow: -20px 60px 220px rgba(0, 0, 0, 0.44);
  position: sticky;
  top: 74px;
  margin: 327px 0 80px -200px;
}

.about__bike-title {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  color: var(--main-text-color);
  max-width: max-content;
  padding-bottom: 209px;
  align-self: flex-end;
  display: flex;
  align-items: center;
  gap: 30px;
}

.about__bike-title::after {
  content: ' ';
  width: 132px;
  border: 2px solid #d7d4d4;
}

.quote {
  max-width: calc(100% - 240px);
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
  padding: 120px 0 60px;
}

.quote__container {
  display: flex;
  flex-direction: column;
}

.section-title {
  font-weight: 700;
  font-size: 55px;
  line-height: 1.1;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
  margin: 0;
}

.quote__title {
  font-weight: 600;
  font-size: 34px;
  line-height: 1.29;
  letter-spacing: -0.5px;
  color: var(--main-text-color);
  margin: 0;
  flex: 1;
}

.quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--main-text-color);
  margin: 0;
  flex-shrink: 0;
  justify-self: flex-end;
  padding-bottom: 6px;
}

.quote__author-subline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: var(--second-text-color);
  opacity: .7;
  margin: 0;
  flex-shrink: 0;
}

.quote__image {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}

.slider {
  max-width: calc(100% - 120px);
  margin-left: auto;
  display: flex;
  flex-direction: column; 
  padding: 60px 0;
  gap: 50px;
  overflow: hidden;
  position: relative;
  --slidesCount: 3;
  --activeSlide: 0;
  --speed: 0.3s;
}

.slider__container {
  display: grid;
  grid-template: 1fr / repeat(var(--slidesCount), 100%);
  position: relative;
  left: calc(var(--activeSlide) * -100%);
  transition: left var(--speed) ease-in-out;
}

.slider__item {
  max-width: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  position: relative;
  overflow: hidden;
}

.slider__text {
  max-width: 460px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.slider__images {
  display: flex;
  gap: 40px;
  position: relative;
}

.slider__item:before {
  content: '';
  width: 100px;
  height: 40px;
  left: -12px;
  bottom: 17px;
  transform: skew(333deg);
  position: absolute;
  background-color: #24b47e;
  border-radius: 5px;
  z-index: 1;
}

.slider__item:first-of-type::after {
  content: url('./images/highway-line.svg');
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 16px;
}

.slider__item:nth-of-type(2)::after {
  content: url('./images/gravel-line.svg');
  position: absolute;
  z-index: 1;
  bottom: 25px;
  left: 16px;
}

.slider__item:nth-of-type(3)::after {
  content: '';
  position: absolute;
  width: 50px;
  border: 1px solid #fff;
  border-radius: 4px;
  z-index: 1;
  bottom: 25px;
  left: 16px;
}

.slider__image {
  position: relative;
  object-position: center;
  object-fit: cover;
  max-width: 100%;
}

.slider__buttons {
  display: flex;
  gap: 20px;
}

.slider__button {
  width: 50px;
  height: 50px;
  padding: 0;
  border: none;
  background: url('./images/arrow-back-dark.svg') center #ebebeb no-repeat;
  border-radius: 50px;
  transition: opacity .5s;
}

.slider__button_theme_dark {
  background: url('./images/arrow-back-light.svg') center #434343 no-repeat;
}

.slider__button:hover {
  cursor: url('./images/cursor.svg'), pointer;
  opacity: .6;
}

.slider__button:last-of-type {
  transform: rotate(-180deg);
}

.bikes {
  max-width: calc(100% - 240px);
  margin: 0 auto;
  padding: 60px 0;
}

.bikes__container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 120px;
  align-items: baseline;
}

.bikes__menu {
  display: flex;
  gap: 40px;
}

.bikes__purpose {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  margin: 0;
  color: var(--second-text-color);
  opacity: .7;
  transition: .4s;
}

.bikes__purpose_active {
  font-weight: 600;
  color: var(--main-text-color);
  opacity: 1;
}

.bikes__purpose:hover {
  cursor: url('/images/cursor.svg'), pointer;
}



.bikes__select {
  display: grid;
  grid-template: 1fr / 1fr;
}

.bikes__selector {
  display: flex;
  gap: 30px;
  grid-area: 1 /1;
  visibility: hidden;
  opacity: 0;
  transition: .4s;
}

.bikes__selector_opened {
  visibility: visible;
  opacity: 1;
}

.bikes__link {
  text-decoration: none;
  cursor: url('./images/cursor.svg'), pointer;
}

.bikes__image {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 20px;
  filter: drop-shadow(0px 20px 140px rgba(0, 0, 0, 0.06));
  max-width: 100%;
  box-sizing: border-box;
}

.bikes__bike-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
  color: var(--main-text-color);
  margin: 0;
  padding: 15px 0 0 5px;
}

.training {
  max-width: calc(100% - 240px);
  margin: 0 auto;
  padding: 150px 0 120px;
  display: grid;
  grid-template: min-content 1fr / minmax(min-content, 460px) minmax(min-content, 580px);
  justify-content: space-between;
  gap: 50px 0;
}

.training__text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.training__links {
  display: flex;
  gap: 30px;
}

.training__link {
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.56;
  color: var(--main-text-color);
  margin: 0;
  transition: .4s;
}

.training__link:hover {
  cursor: url('./images/cursor.svg'), pointer;
  opacity: .75;
}

.training__image {
  object-fit: cover;
  object-position: center;
  grid-area: 1 / 2 / 3 / 3;
  width: 100%;
}

.footer {
  flex-shrink: 0;
  background: var(--footer-bg-color);
  transition: 1s;
  --footer-bg-color: #efefef;
  --footer-copyright-color: #cfcfcf;
}

.footer_theme_dark {
  --footer-bg-color: #2f2f2f;
  --footer-copyright-color: #565656;
}

.footer__wrapper {
  max-width: calc(100% - 240px);
  margin: 0 auto;
  padding: 80px 0 60px;
  display: flex;
  flex-direction: column;
  gap: 85px;
}

.footer__form-container {
  max-width: 360px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.footer__form-title {
  max-width: 250px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33;
  margin: 0;
  color: var(--main-text-color);
}

.form {
  display: flex;
}

.form__input {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: var(--main-text-color);
  padding: 11px 20px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px; 
  border-right: none;
  outline: none;
  flex: 1;
  background-color: transparent;
}

.form__input:hover {
  cursor: url('./images/cursor.svg'), pointer;
}

.form__input:focus {
  border-color: #c7c7c7;
}

.form__input:focus + .form__button {
  border-color: #c7c7c7;
}

.form__input::placeholder {
  opacity: .7;
  color: var(--main-text-color);
}

.form__input:focus::-webkit-input-placeholder {
  opacity: 1;
  color: var(--main-text-color);
}

.form__input:focus::-moz-placeholder{
  opacity: 1;
  color: var(--main-text-color);
} 

.form__input:focus:-moz-placeholder {
  opacity: 1;
  color: var(--main-text-color);
}     

.form__input:focus:-ms-input-placeholder {
  opacity: 1;
  color: var(--main-text-color);
}

.form__input:focus::placeholder {
  opacity: 1;
  color: var(--main-text-color);
}

.form__button {
  font-weight: 500;
  font-size: 13px;
  line-height: 2.15;
  color: var(--main-text-color);
  padding: 11px 20px;
  border: 1px solid rgba(199, 199, 199, 0.5);
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  background-color: transparent;
  border-left: none;
}

.form__button:hover {
  cursor: url('./images/cursor.svg'), pointer;
}

.form__button:disabled {
  color: transparent;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.footer__copyright {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.43;
  color: #cfcfcf;
  margin: 0;
}

.theme-switcher {
  display: flex;
  gap: 22px;
  align-items: center;
  --icon-fill: #cfcfcf;
  --toggler-bg-color: #fff;
}

.theme-switcher_theme_dark {
  --icon-fill: #676767;
  --toggler-bg-color: #545454;
}

.theme-switcher__icon {
  fill: var(--icon-fill);
}

.theme-switcher__container {
  width: 44px;
  height: 24px;
  background-color: var(--toggler-bg-color);
  border-radius: 100px;
  border: 2px solid transparent;
  box-sizing: border-box;
}

.theme-switcher__container:hover { 
  cursor: url('./images/cursor.svg'), pointer;
}

.theme-switcher__toggler {
  width: 20px;
  height: 20px;
  background-color: #24b47e;
  border-radius: 100px;
  transition: .4s;
}

.theme-switcher__toggler_active {
  transform: translateX(100%);
}



