.quote__author {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.6;
  color: var(--main-text-color);
  margin: 0;
  flex-shrink: 0;
  justify-self: flex-end;
  padding-bottom: 6px;
}

@media screen and (max-width: 1030px) {
  .quote__author {
    font-size: 14px;
    line-height: 1.57;
    padding: 0;
  }
}