.training__image {
  object-fit: cover;
  object-position: center;
  grid-area: 1 / 2 / 3 / 3;
  width: 100%;
}

@media screen and (max-width: 1030px) {
  .training__image {
    grid-area: 2 / 1;
  }
}