.covers {
  max-width: calc(100% - 120px);
  margin-left: auto;
  display: flex;
  flex-direction: column; 
  padding: 60px 0 0;
  gap: 50px;
}

@media screen and (max-width: 1030px) {
  .covers {
    max-width: 100%;
    padding: 40px 0 0;
  }
}